    #include <windows.h>
     
    VS_VERSION_INFO     VERSIONINFO
    FILEVERSION         1, 10, 1, 0
    PRODUCTVERSION      1, 10, 1, 0
    FILEFLAGSMASK       0x3fL
    FILEFLAGS           0
    FILEOS              VOS_NT_WINDOWS32
    FILETYPE            VFT_APP
    FILESUBTYPE         VFT2_UNKNOWN
    BEGIN
        BLOCK   "VarFileInfo"
        BEGIN
            VALUE   "Translation",  0x809,  1200
        END
        BLOCK   "StringFileInfo"
        BEGIN
            BLOCK   "040904b0"
            BEGIN
                VALUE   "CompanyName",      "Laird Connectivity\0"
                VALUE   "FileDescription",  "UwTerminalX\0"
                VALUE   "FileVersion",      "1.13.0.0\0"
                VALUE   "InternalName",     "UwTerminalX\0"
                VALUE   "LegalCopyright",   "Copyright 2015-2022 Laird Connectivity\0"
                VALUE   "OriginalFilename", "UwTerminalX.exe\0"
                VALUE   "ProductName",      "UwTerminalX\0"
                VALUE   "ProductVersion",   "1.13.0.0\0"
            END
        END
    END

    IDI_ICON1               ICON    DISCARDABLE     "images\\UwTerminal32.ico"
